---
layout: single
author_profile: true
pagination:
enabled: true
per_page: 5
title: 교양수학 기출문제
---

<style>
    .jokbolink {
        font-size: xx-large;
        text-align: center;
        vertical-align: middle;
    }
</style>

<div class="jokbolink">
    <br>
    <a href="_posts/jokbo/calculus1"><button type="button" class="btn">수학 1 / 수학 연습
            1</button></a><br><br>
    <a href="_posts/jokbo/calculus2"><button type="button" class="btn">수학 2 / 수학 연습
            2</button></a><br>
</div>


<!-- {% for post in paginator.posts %}
{% include archive-single.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
    <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em>{{ page }}</em>

    {% elsif page == 1 %}
    <a href="{{ '/index.html' | prepend: site.baseurl }}">{{ page }}</a>
    {% else %}
    <a
        href="{{ site.paginate_path | prepend: '/' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
    <span>Next &raquo;</span>
    {% endif %}
</div>
{% endif %} -->